//color config

$primary-one: hsl(322, 100%, 66%);
$primary-two: hsl(321, 100%, 78%);
$primary-three: hsl(0, 100%, 53%);

$nuetral-one: hsl(192, 100%, 9%);
$nuetral-two: hsl(207, 100%, 98%);

//font config
$header: "Poppins", sans-serif;
$body: "Open Sans", sans-serif;

//begin

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  //   outline: 2px red solid;
}
body {
  font-family: $body;
}
main {
  padding: 4rem 0rem 0 0;
  //   max-width: 1440px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
  padding: 0 4rem;
}

.logo-container {
  img {
    width: 15vw;
  }
}
.try {
  a {
    border: 2px solid $primary-one;
    padding: 8px;
    width: 12vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: $primary-one;
    transition: 0.6s ease;

    &:hover {
      border-color: $primary-two;
      color: $primary-two;
    }
  }
}

.section-one {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  h1 {
    font-size: 2rem;
    font-family: $header;
    font-weight: 700;
    margin-bottom: 1.3rem;
  }
  p {
    color: $nuetral-one;
    font-size: 15px;
    width: 450px;
    // border: 1px solid red;
    line-height: 22px;
    margin-bottom: 2rem;
    font-weight: 400;
  }

  a {
    display: block;
    width: 250px;
    height: 40px;
    background-color: $primary-one;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $nuetral-two;
    border-radius: 30px;
    font-size: 14px;
    box-shadow: 0 5px 10px -6px $nuetral-one;
    margin-bottom: 9rem;
    transition: 0.6s ease;
    &:hover {
      background-color: $primary-two;
    }
  }
}

.section-two {
  width: 70vw;
  margin: 0 auto 6rem;
  img {
    width: 100%;
  }
}

.section-three {
  display: flex;
  width: 100%;
  margin: 0 auto 4rem;
  justify-content: space-between;
  padding: 0 14vw;
  .section-three-box {
    // width: 50%;

    img {
      width: 40px;
    }

    h1 {
      font-size: 5.5rem;
      font-weight: 700;
      margin-bottom: 0.7rem;
      font-family: $header;
    }

    p {
      color: $nuetral-one;
      font-size: 17px;
      letter-spacing: 1px;
      font-weight: 400;
      text-align: center;
      opacity: 0.6;
    }
  }
}

.section-four {
  margin-bottom: 8rem;
  width: 100%;
  // min-height: 600px;

  .top {
    position: relative;
    bottom: -10px;
    width: 100%;
  }

  .bottom {
    width: 100%;
  }

  .content {
    display: flex;
    align-items: center;
    background-color: $nuetral-two;
    padding-top: 1rem;
    padding: 0rem 5rem;
  }

  .section-four-box {
    width: 50%;
    img {
      width: 35vw;
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      font-weight: 700;
      font-family: $header;
    }
    p {
      width: 35vw;
      font-size: 15px;
      line-height: 22px;
      color: $nuetral-one;
    }
  }
}

.section-five {
  display: flex;
  padding: 0 4rem;
  align-items: center;
  margin-bottom: 8rem;

  .section-five-box {
    width: 50%;

    img {
      width: 40vw;
    }

    h2 {
      font-size: 2.5rem;
      font-family: $header;
      font-weight: 700;
      margin-bottom: 1rem;
      margin-left: 4rem;
    }

    p {
      max-width: 450px;
      font-size: 15px;
      line-height: 22px;
      color: $nuetral-one;
      margin-left: 4rem;
    }
  }
}

.section-six {
  padding: 3rem 0;
  margin-bottom: 9rem;
  .top {
    position: relative;
    bottom: -10px;
    width: 100%;
  }

  .bottom {
    width: 100%;
  }

  .content {
    display: flex;
    align-items: center;
    background-color: $nuetral-two;
    padding-top: 1rem;
  }

  .section-six-box {
    width: 50%;
    margin-left: 4rem;

    img {
      width: 40vw;
    }
    h2 {
      font-size: 2.5rem;
      font-family: $header;
      font-weight: 700;
      margin-bottom: 1rem;
      margin-left: 4rem;
    }

    p {
      font-size: 15px;
      line-height: 22px;
      color: $nuetral-one;
      margin-left: 4rem;
      max-width: 450px;
    }
  }
}

.section-seven {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 9rem;
  color: $nuetral-one;

  h1 {
    font-family: $header;
    font-size: 2.5rem;
    margin: 2rem 0;
  }

  a {
    display: block;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: $primary-one;
    border-radius: 40px;
    box-shadow: 0 5px 10px -6px $nuetral-one;
    margin-bottom: 4rem;
    color: $nuetral-two;
    font-weight: 400;
    transition: 0.6s ease;
    &:hover {
      background-color: $primary-two;
    }
  }
}

footer {
  .bg-img {
    background-color: transparent;
    width: 100%;
    position: relative;
    bottom: -10px;

    img {
      width: 100%;
    }
  }

  div.txt-area {
    background-color: $nuetral-one;
    padding: 6rem 4rem;
    display: flex;

    .contact {
      color: $nuetral-two;

      h1 {
        display: inline-block;
        margin-bottom: 1rem;
        font-family: $header;
      }

      .white-logo {
        display: inline-block;
        filter: grayscale(1);
        width: 30px;
      }

      p.address {
        font-size: 14px;
        margin-right: 55%;
        line-height: 20px;
        margin-bottom: 1.3rem;
      }
      .p-wrap {
        img,
        p {
          display: inline-block;
        }

        p {
          margin-left: 9px;
          font-size: 15px;
          margin-bottom: 1.4rem;
        }
      }

      .socials {
        margin: 2rem 0 0 0;
        a {
          text-decoration: none;
          i {
            display: inline-block;
            margin: 0 2rem 0 0;
            text-decoration: none;
            color: $nuetral-two;
            font-size: 1.8rem;
            transition: 0.6s ease;
            &:hover {
              color: skyblue;
            }
          }
        }
      }
    }

    .news-letter {
      width: 50%;

      color: $nuetral-two;

      h3 {
        font-size: 1.5rem;
        font-family: $header;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 2.2rem;
        font-size: 15px;
        line-height: 20px;
        margin-right: 40%;
      }

      [type="email"] {
        width: 23vw;
        height: 50px;
        border: none;
        border-radius: 5px;
        display: inline-block;
        margin-right: 30px;
        padding: 4px 10px;
        color: hsla(192, 100%, 9%, 0.486);
        font-family: $body;
        font-size: 16px;

        &:hover {
          border: 1px solid $primary-three;
        }
        &:focus {
          border: 3px solid red;
          color: hsl(192, 100%, 9%);
        }
      }

      [type="submit"] {
        width: 11.5vw;
        height: 50px;
        border: none;
        border-radius: 5px;

        color: $nuetral-two;
        background-color: $primary-one;
        transition: 0.6s ease;
        &:hover {
          background-color: $primary-two;
        }
        &:active {
          background-color: $primary-one;
        }
      }

      .error-msg {
        margin-top: 9px;
        color: $primary-three;
        font-size: small;
      }

      .show-error {
        visibility: visible;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $nuetral-two;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-two;
  border-radius: 4px;

  &:hover {
    background-color: $primary-one;
  }
}

@media screen and (max-width: 820px) {
  main {
    padding: 1rem 0 0 0;
  }
  header {
    padding: 1rem;
  }

  .logo-container {
    img {
      width: 30vw;
    }
  }
  .try {
    a {
      font-size: 0.5rem;
      width: 24vw;
      padding: 6px;
    }
  }

  .section-one {
    h1 {
      font-size: 1.6rem;
      padding: 0 5vw;
    }
    p {
      padding: 0 10vw;
      font-size: 13px;
      width: auto;
    }
    a {
      width: 200px;
    }
  }

  .section-three {
    flex-direction: column;
    row-gap: 5rem;
    align-items: center;

    .section-three-box {
      img {
        width: 30px;
      }
      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 15px;
        text-align: left;
      }
    }
  }

  .section-four {
    .content {
      flex-direction: column-reverse;
      row-gap: 5rem;
      padding: 0 1rem;
      align-items: center;
    }

    .section-four-box {
      width: 100%;

      img {
        width: 70%;
        margin: auto;
        margin-left: 15vw;
      }

      h2 {
        font-size: 2rem;
        text-align: center;
      }
      p {
        width: 80vw;
        text-align: center;
        margin-left: 5vw;
      }
    }
  }

  .section-five {
    flex-direction: column;
    padding: 0 1rem;
    row-gap: 5rem;
    margin-bottom: 4rem;
    .section-five-box {
      width: 100%;
      img {
        width: 80vw;
        margin: auto;
        margin-left: 10vw;
      }
      h2 {
        font-size: 1.8rem;
        margin-left: 0;
        text-align: center;
      }

      p {
        width: 100%;
        // margin-left: 0;
        margin: auto;
        text-align: center;
        padding: 0.5rem;
        // margin-left: 5vw;
      }
    }
  }

  .section-six {
    .content {
      flex-direction: column-reverse;
      row-gap: 4rem;
    }

    .section-six-box {
      width: 100%;
      margin-left: 0;
      padding: 3rem 0;

      img {
        width: 80vw;
        margin-left: 11vw;
      }
      h2 {
        font-size: 2rem;
        margin-left: 0;
        text-align: center;
      }

      p {
        font-size: 14px;
        margin-left: 0;
        width: auto;
        max-width: none;
        padding: 5vw;
        text-align: center;
        margin-left: 2vw;
      }
    }
  }

  .section-seven {
    h1 {
      font-size: 1.8rem;
      text-align: center;
    }
    a {
      width: 250px;
      height: 50px;
    }
  }

  footer {
    div.txt-area {
      padding: 6rem 2rem;
      flex-direction: column-reverse;

      .news-letter {
        width: 100%;
        margin-bottom: 4rem;
        p {
          font-size: 13px;
          margin-right: 0;
          text-align: left;
        }
        [type="email"] {
          width: 100%;
          margin-bottom: 1rem;
        }

        [type="submit"] {
          width: 50%;
          float: right;
        }
      }

      .contact {
        p.address {
          margin: 0 0 1.5rem 0;
          font-size: 13px;
        }

        .p-wrap {
          p {
            margin-bottom: 1.3rem;
            font-size: 13px;
          }
        }
      }
    }
  }
}
/*there goes the end of the code*/

